@page "/tags/{tagName}"
@model BloggieToBike.Web.Pages.Tags.DetailsModel
@{
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h2 class="mb-5 display-3">Blogs</h2>

            @if (Model.Routes != null && Model.Routes.Any())
            {
                foreach (var route in Model.Routes)
                {
                    <div class="mb-5 bg-light box-shadow">
                        <img src="@route.FeaturedImageUrl" alt="@route.Name" class="mb-2 d-block img-fluid" />
                        <div class="px-4 py-4">
                            <h2 class="mb-2">@route.Name</h2>
                            <p>
                                Author: @route.Author
                                <br />
                                Date Published: @route.PublishedDate.ToShortDateString()
                            </p>
                            <p class="mb-2">@route.ShortDescription</p>
                            <a href="/blog/@route.StravaLink" class="btn btn-dark">Read More</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
